<!DOCTYPE html>
<html ng-app='NVIP'>

<head>
	<meta charset="ISO-8859-1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>NVIP - Daily Vulnerabilities</title>
</head>

<body>
	<div class="nvip-content-container daily-cve-container" ng-controller="VulnerabilityController as VulnCtrl" ng-init="init()">
		<nvip-header class="col-12"></nvip-header>
		<div class="nvip-loading-screen col-12">
			<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
			<span>Loading daily vulnerability data...</span>
		</div>
		<div class="daily-cve-filter-container">
			<div class="daily-cve-filter-content">
			  	<div class="daily-cve-search-container col-11">
			  		<i class="daily-vuln-search-icon fa fa-search" aria-hidden="true"></i>
					<input class="daily-cve-search-bar col-10" type="text" ng-model="vulnSearch" ng-blur="searchFocusOut()" placeholder="Filter vulnerabilities"
						ng-keyup="filterVulns($index, vulnSearch, dailyVulns)" />
					<i class="daily-vuln-search-cancel-icon fa fa-times-circle" aria-hidden="true"></i>
				</div>
				<div class="daily-cve-filter-btns">
					<div class="daily-vuln-filter-btn">
						<input type="checkbox" class="daily-vuln-filter-checkbox" id="vuln-product-filter" name="product-filter" value="product">
						<span>Product</span>
						<i class="fa fa-angle-right fa-2x" aria-hidden="true"></i>	
					</div>
					<div class="daily-vuln-filter-btn">
						<input type="checkbox" class="daily-vuln-filter-checkbox" id="vuln-vdo-filter" name="vdo-filter" value="vdo">
						<span>VDO</span>
						<i class="fa fa-angle-right fa-2x" aria-hidden="true"></i>	
					</div>
					<div class="daily-vuln-filter-btn">
						<input type="checkbox" class="daily-vuln-filter-checkbox" id="vuln-cvss-score-filter" name="cvss-score-filter" value="cvssScore">
						<span>CVSS Score</span>
						<i class="fa fa-angle-right fa-2x" aria-hidden="true"></i>	
					</div>
					<div class="daily-vuln-filter-btn">
						<input type="checkbox" class="daily-vuln-filter-checkbox" id="vuln-status-filter" name="status-filter" value="status">
						<span>Status</span>
						<i class="fa fa-angle-right fa-2x" aria-hidden="true"></i>	
					</div>
					<div class="daily-vuln-filter-btn">
						<input type="checkbox" class="daily-vuln-filter-checkbox" id="vuln-location-filter" name="location-filter" value="location">
						<span>In MITRE/NVD</span>
						<i class="fa fa-angle-right fa-2x" aria-hidden="true"></i>	
					</div>
				</div>
			</div>
		  <button class="daily-cve-filter-btn" type="button" ng-click="toggleFilter()">
		  	<i class="fa fa-angle-right fa-2x" aria-hidden="true"></i>
		  </button>
		</div>	
		<div class="nvip-daily-cve-panel-container col-11">
			<div class="daily-cve-panel" ng-repeat="(panelIndex, vulnMap) in dailyVulns" ng-show="vulnMap.cve_list.length > 0">
				<p class="daily-cve-date">{{vulnMap.date}}</p>
				<div class="daily-cve-counts col-6">
					<p>{{vulnMap.cve_list.length}} CVEs identified</p>
				</div>
				<div class="daily-vuln-dropdown col-11" ng-repeat="(vulnIndex, vuln) in vulnMap.cve_list | limitTo: dailyVulnLimit[panelIndex]">
					<button type="button" class="daily-vuln-dropdown-button col-12" ng-click="selectDailyCve(panelIndex, vulnIndex)">
						<div class="daily-vuln-dropdown-row">
							<div class="daily-vuln-dropdown-row-1">
								<span ng-bind="vuln.map.cveId"></span>
								<span class="daily-vuln-dropdown-icon-box">
									<img class="nvd_logo" ng-class="{true: 'is_present', false: ''}[vuln.map.existInNvd]" src="images/nvd_logo.svg" aria-hidden="true"/>
									<img class="mitre_logo" ng-class="{true: 'is_present', false: ''}[vuln.map.existInMitre]"  src="images/mitre_corporation_logo.svg" aria-hidden="true">
									<img class="mitigation_icon" ng-show="hasMitigation(vuln)" src="images/mitigation_shield.svg" aria-hidden="true">
									<img class="is_fixed_logo" ng-show="isFixed(vuln)" src="images/is_fixed_icon.svg" alt="Fixed">
								</span>
							</div>
							<div class="daily-vuln-dropdown-row-2">
								<span class="daily-vuln-product">{{displayCVEProduct(vuln.map.product.map.domain)}} : </span>{{fillVDOLabels(vuln.map, "LogicalImpact", panelIndex, vulnIndex)}}
							</div>
							<div class="daily-vuln-dropdown-row-3">
								<span>Method </span><daily-vuln-dropdown vuln="vuln" nounGroup="{{impactMethod}}"></daily-vuln-dropdown>
							</div>
							<!--  <span class="daily-vuln-icons"></span> -->
						</div>
						<i class="fa fa-angle-left" aria-hidden="true"></i>
					</button>
					<div class="daily-vuln-content">
						<div class="daily-vuln-description">
							<p>Description</p>
							<p ng-bind="vuln.map.description"></p>
						</div>
						<div class="daily-vuln-info"> 
							<div>
								<p>Platform</p>
								<p ng-bind="vuln.map.platform"></p>
							</div>
							<div>
								<p>Version</p>
								<p></p>
							</div>
						</div>
						<div class="daily-vuln-detail">
							<a ng-href="#vulnerability/{{vuln.map.vulnId}}">View Info</a>
						</div>
					</div>
				</div>
				<div class="nvip-daily-vuln-button-container col-11">
					<button class="nvip-button nvip-show-more" type="button" ng-click="showMore(panelIndex)" ng-disabled="dailyVulnLimit[panelIndex] >= vulnMap.cve_list.length"><span>Show More</span></button>
					<button class="nvip-button nvip-show-less" type="button" ng-click="showLess(panelIndex)" ng-disabled="dailyVulnLimit[panelIndex] <= vulnLimitIncr"><span>Show Less</span></button>
				</div>
			</div>
		</div>
		<div class="nvip-footer col-12">
			<p>
				Performer is looking for feedback on its stand-up software vulnerabilities platform and methodology for detecting and reporting software vulnerabilities for software assurance community by establishing a website for obtaining feedback to assist with their research. S&T is funding this research through contract 70RSAT19CB0000020
			</p>
			<div class="nvip-footer-contents">
				<a>About NVIP</a><a>Privacy Policy</a><a>Contact Us</a>
			</div>
			<div class="nvip-footer-social-media">
				<p>Follow us @Twitter @LinkedIn @Facebook</p>
			</div>
		</div>
	</div>
</body>
<link rel="stylesheet" href="css/nvip.css">
<link rel="stylesheet" href="css/dailyVulns.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-cookies.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-route.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="js/cna_site_demo.js"></script>
<script src="js/directives/nvipHeader.js"></script>
<script src="js/directives/nvipFooter.js"></script>
</html>