<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>NVIP - National Vulnerability Intelligence Platform</title>
</head>
<body>
	<nvip-header></nvip-header>
	<div class="nvip-content-container" ng-controller="MainController as mainCtrl">
		<div class="nvip-daily-graph-box col-12">
			<div class="nvip-loading-screen col-12">
				<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
				<span>Loading NVIP statistics...</span>
			</div>
			<div class="nvip-circle-graph">
				<p class="nvip-circle-graph-text">
					{{countGraphs.totalCveCount}} CVEs recorded
				</p>
			</div>
			<div class="nvip-circle-graph">
				<p class="nvip-circle-graph-text">
					{{countGraphs.avgCvesAdded}} CVEs added daily
				</p>
			</div>
			<div class="nvip-circle-graph">
				<p class="nvip-circle-graph-text">
					{{countGraphs.avgCvesUpdated}} CVEs updated daily
				</p>
			</div>
			<div class="nvip-circle-graph avg-time-gap-nvd">
				<p class="nvip-circle-graph-text">
					CVEs found {{countGraphs.avgTimeGapNvd}} hour(s) earlier than NVD
				</p>
			</div>
		</div>
		<div class="nvip-about-section col-12">
			<p>
				The National Vulnerability Intelligence Platform (NVIP) is a new generation vulnerability database, a public platform where the 
				software development and security communities can obtain rich, actionable intelligence about known vulnerabilities. 
				NVIP automates the collection of CVEs, providing near real-time publishing of vulnerabilities, as well as intelligent analysis 
				and categorization of these vulnerabilities. This page provides a summary of the most recent vulnerabilities found by NVIP.
			</p>
		</div>
		<div class="nvip-daily-vuln-ctn col-12" ng-controller="VulnerabilityController as vulnCtrl" ng-init="init()">
			<div class="nvip-loading-screen col-12">
				<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
				<span>Loading daily vulnerability data...</span>
			</div>
			<div class="nvip-daily-vuln-panel-ctn col-12" ng-repeat="(panelIndex, vulnMap) in dailyVulns" ng-show="panelIndex == dailyVulnIndex">
				<div class="nvip-daily-cve-panel-header col-8">
					<button class="nvip-button nvip-prev-day" ng-click="incrementDailyVulnDay(-1)" ng-disabled="dailyVulnIndex == 0" aria-label="Previous Day">
						<div class="nvip-arrow-left">
					</div></button>
					<div class="daily-cve-date col-12">
						<p>{{vulnMap.date}}</p>
					</div>
					<div class="daily-cve-counts col-12">
							<p>{{vulnMap.cve_list.length}} CVEs identified</p>
					</div>
					<button class="nvip-button nvip-next-day" ng-click="incrementDailyVulnDay(1)" ng-disabled="dailyVulnIndex == (dailyVulns.length - 1)" aria-label="Next Day">
						<div class="nvip-arrow-right"></div>
					</button>
				</div>
				<div class="daily-cve-panel col-8">
					<p class="nvip-cve-panel-empty" ng-show="vulnMap.cve_list.length == 0">No CVEs identified</p>
					<div class="daily-vuln-dropdown col-12" ng-repeat="(vulnIndex, vuln) in vulnMap.cve_list | limitTo: dailyVulnLimit[panelIndex]">
						<daily-vuln-dropdown vuln="vuln"></daily-vuln-dropdown>
					</div>
					<div class="nvip-daily-vuln-button-container col-11">
						<button class="nvip-button nvip-show-more" type="button" ng-click="showMore(panelIndex)" ng-disabled="dailyVulnLimit[panelIndex] >= vulnMap.cve_list.length"><span>Show More</span></button>
						<button class="nvip-button nvip-show-less" type="button" ng-click="showLess(panelIndex)" ng-disabled="dailyVulnLimit[panelIndex] <= vulnLimitIncr"><span>Show Less</span></button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<nvip-footer></nvip-footer>
</body>
<link rel="stylesheet" href="css/nvip.css">
<link rel="stylesheet" href="css/main.css">
<link rel="stylesheet" href="css/directives.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-cookies.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-route.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.js"></script>
<script src="js/cna_site_demo.js"></script>
<script src="js/controllers/loginCtrl.js"></script>
<script src="js/controllers/createAccountCtrl.js"></script>
<script src="js/controllers/mainCtrl.js"></script>
<script src="js/directives/nvipHeader.js"></script>
<script src="js/directives/nvipFooter.js"></script>
<script src="js/directives/dailyVulnDropdown.js"></script>
</html>