<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>NVIP - National Vulnerability Intelligence Platform</title>
</head>
<body>
	<nvip-header></nvip-header>
	<div class="nvip-content-container col-12" ng-controller="SearchController as searchCtrl">
		<div class="nvip-loading-bar col-12">
			<div class="nvip-loading-bar-text-ctn">
				<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
				<span>Loading search results...</span>
			</div>
		</div>
		<div class="nvip-search-result-header col-12">
			<p ng-show="showForm">Search Form</p>
			<p ng-show="!showForm">Search Results</p>
		</div>
		<div class="nvip-search-nav-btn-ctn col-12" ng-show="searchResults.length > 0">
			<button class="nvip-button nvip-search-nav-form-btn" ng-click=toggleSearchForm() ng-disabled="showForm">
				<i class="fa fa-angle-double-left" aria-hidden="true"></i>
				Back to Form
			</button>
			<button class="nvip-button nvip-search-nav-results-btn" ng-click=toggleSearchForm() ng-disabled="!showForm">
				Go to Results
				<i class="fa fa-angle-double-right" aria-hidden="true"></i>
			</button>
		</div>
		<div class="nvip-search-form-ctn" ng-show="showForm">
			<form novalidate class="nvip-search-form col-12">
				<div class="nvip-form-field">
					<label for="keyword">Keyword</label>
					<input type="text" ng-model="search.keyword" />
				</div>
				<div class="nvip-form-horizontal-block">
					<div class="nvip-form-field col-6">
						<label for="startDate">Start Date</label>
						<input type="date" ng-model="search.startDate" md-placeholder="Enter date"></md-datepicker>
						<!-- <span class="error" ng-show="myForm.input.$error.required">Required!</span> -->
					</div>	
					<div class="nvip-form-field col-6">
						<label for="endDate">End Date</label>
						<input type="date" ng-model="search.endDate" md-placeholder="Enter date"></md-datepicker>
						<!-- <span class="error" ng-show="myForm.input.$error.required"> Required!</span> -->
					</div>
				</div>
				<div class="nvip-form-dropdown-field col-12" ng-click="toggleContent($event)">
					<div class="nvip-form-dropdown-left col-11">
						<label>CVSS Scores</label>
					</div>
					<div class="nvip-form-dropdown-right col-1">
						<i class="nvip-form-dropdown-caret fa fa-angle-left" aria-hidden="true"></i>
					</div>
				</div>
				<div class="nvip-form-dropdown-content col-11">
					<div ng-repeat="cvssScore in searchInfo.cvssScores" class="nvip-form-field col-4">
						<div class="nvip-form-field-block col-11">
							<label for="{{cvssScore}}">{{cvssScore}}</label>
							<input type="checkbox" ng-model="cvssScores[$index]" />		
						</div>
					</div>
				</div>
				<div class="nvip-form-dropdown-field col-12" ng-click="toggleContent($event)">
					<div class="nvip-form-dropdown-left col-11">
						<label>VDO</label>
					</div>
					<div class="nvip-form-dropdown-right col-1">
						<i class="nvip-form-dropdown-caret fa fa-angle-left" aria-hidden="true"></i>
					</div>
				</div>
				<div class="nvip-form-dropdown-content col-11">
					<div class="nvip-form-dropdown-ctn col-4" ng-repeat="vdoNounGroupLabel in searchInfo.vdoNounGroupLabels">
						<div class="nvip-form-dropdown-field col-11" ng-click="toggleContent($event)">
							<div class="nvip-form-dropdown-left col-10">
								<label for="{{vdoNounGroupLabel}}">{{vdoNounGroupLabel}}</label>
								<input type="checkbox" class="nvip-form-dropdown-checkbox" ng-model="vdoNounGroups[$index]" />
							</div>
							<div class="nvip-form-dropdown-right col-2">
								<i class="nvip-form-dropdown-caret fa fa-angle-left" aria-hidden="true"></i>
							</div>
						</div>
						<div class="nvip-form-dropdown-content col-11">
							<div ng-repeat="vdoLabel in searchInfo.vdoEntityLabels[vdoNounGroupLabel]" class="nvip-form-field col-12">
								<div class="nvip-form-field-block col-11">
									<label class="col-10" for="{{vdoLabel}}">{{vdoLabel}}</label>
									<input class="col-1" type="checkbox" ng-model="vdoLabels[vdoNounGroupLabel][$index]" />		
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="nvip-form-dropdown-field col-12" style="border-bottom-width: 2px;" ng-click="toggleContent($event)">
					<div class="nvip-form-dropdown-left col-11">
						<label>Site Presence</label>
					</div>
					<div class="nvip-form-dropdown-right col-1">
						<i class="nvip-form-dropdown-caret fa fa-angle-left" aria-hidden="true"></i>
					</div>
				</div>
				<div class="nvip-form-dropdown-content col-11">
					<div ng-repeat="site in searchInfo.siteLabels" class="nvip-form-field col-4">
						<div class="nvip-form-field-block col-11">
							<label for="{{site}}">{{site}}</label>
							<input type="checkbox" ng-model="search.sites[$index]" />		
						</div>
					</div>
				</div>
				<div class="nvip-form-btn-ctn col-12">
					<button class="nvip-button nvip-form-btn col-3" ng-click="searchVulns($event)"><span>Search</span></button>
				</div>
			</form>
		</div>
		<div class="nvip-search-result-ctn" ng-show="!showForm">
			<!--  <nvip-vuln-filter search-results="searchResults"></nvip-vuln-filter> -->
			<div class="nvip-search-top-ctn col-12">
			
			</div>
			<div class="nvip-search-page-ctn">
				<div class="nvip-search-result-count col-12">
					<p>{{resultTotalCount}} records found</p>
				</div>
				<div class="nvip-paging-index col-12">
					<p>Showing records {{pageRecord[0]}} to {{pageRecord[1]}}</p>
				</div>
				<div class="nvip-paging-bar-ctn" ng-show="searchResults.length > 0">
					<div class="nvip-paging-bar" ng-click="firstPage()" ng-show="currentPage > 0">
						<a>First</a>
					</div>
					<div class="nvip-paging-bar nvip-next-page" ng-click="previousPage()">
						<a><i class="fa fa-angle-left fa-2x" aria-hidden="true"></i></a>
					</div>
					<div class="nvip-paging-bar" ng-repeat="pageIndex in pageBlocks" ng-click="changePage(pageIndex)"
					ng-class="{'current-page': pageIndex == currentPage}">
						<a>{{pageIndex + 1}}</a>
					</div>
					<div class="nvip-paging-bar nvip-next-page" ng-click="nextPage()">
						<a><i class="fa fa-angle-right fa-2x" aria-hidden="true"></i></a>
					</div>
					<div class="nvip-paging-bar" ng-click="lastPage()" ng-show="currentPage < (totalPages - 1)">
						<a>Last</a>
					</div>
				</div>
				<div class="nvip-search-result-page col-10">
					<p class="nvip-cve-panel-empty" ng-show="searchResults.length == 0">No CVEs identified</p>
					<div class="nvip-search-result col-12" ng-repeat="(pageIndex, vuln) in filteredSearchResults | limitTo : pageLimit" ng-show="searchResults.length > 0">
						<daily-vuln-dropdown vuln="vuln"></daily-vuln-dropdown>
					</div>
				</div>
			</div>
		</div>
	</div>
	<nvip-footer></nvip-footer>
</body>
<link rel="stylesheet" href="css/nvip.css">
<link rel="stylesheet" href="css/directives.css">
<link rel="stylesheet" href="css/search.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-cookies.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-route.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.js"></script>
<script src="js/cna_site_demo.js"></script>
<script src="js/controllers/searchCtrl.js"></script>
<script src="js/directives/dailyVulnDropdown.js"></script>
<script src="js/directives/nvipHeader.js"></script>
<script src="js/directives/nvipFooter.js"></script>
<script src="js/directives/nvipVulnFilter.js"></script>
</html>