@charset "ISO-8859-1";

:root {
	--font-size-header-3: 1.5em;
	--filter-container-width: 32em;
	--max-vuln-desc-height-px: 75px;
	--max-vuln-desc-height-em: calc(4*var(--line-height));
}

/** Daily Vuln Dropdown Styles **/

.daily-vuln-dropdown-button {
  background-color: #ffff;
  border: 2px solid #f7f7f7;
  border-bottom: 0px;
  color: #444;
  cursor: pointer;
  font-weight: bold;
  height: 6em;
  outline: none;
  padding: 0.5em 1.5em;
  text-align: left;
}

.daily-vuln-dropdown:last-child .daily-vuln-dropdown-button {
	border: 2px solid #f7f7f7;
}

.daily-vuln-dropdown-button > span {
	display: inline-block;
	font-weight: bold;
	max-width: 90%;
	margin-top: calc(0.6em - 2px);
	position: relative;
}

/** Daily Vulnerability Directive Styles **/
.vuln-vdo-label:first-child:before  {
	color: #000000;
	content: " : ";
}

.daily-vuln-active .vuln-vdo-label:first-child:before  {
	color: #FFFFFF;
	content: " : ";
}

.daily-vuln-dropdown-button .vuln-vdo-label {
	text-transform: capitalize;
}

.vuln-vdo-label:after {
	color: #000000;
	content: ",";
}

.daily-vuln-active .vuln-vdo-label:after {
	color: #FFFFFF;
	content: ",";
}

.daily-vuln-dropdown-button .vuln-vdo-label:last-child:after {
	content: "";
}

.vdo-high-confidence {
	color: #0d800f;
}

.vdo-med-confidence {
	color: #f5d442;
}

.vdo-low-confidence {
	color: #b51414;
}

/** Temp VDO Label styling **/
.daily-vuln-dropdown-row-2 .vuln-vdo-label {
	text-transform: capitalize;
}

.daily-vuln-dropdown-row-2 .vuln-vdo-label:after {
	color: #000000;
	content: ",";
}

.daily-vuln-dropdown-row-2 .vuln-vdo-label:last-child:after {
	content: "";
}

/** End Daily Vulnerability Directive Styles**/

[class^='daily-vuln-dropdown-row-']{
	max-height: var(--font-size);
	max-width: calc(100% - 2em);
}

.daily-vuln-dropdown-row-1 > .nvip-cve-number-span {
	font-size: var(--font-size);
}

.daily-vuln-dropdown-icon-box {
	float: right;
}

.daily-vuln-dropdown-icon-box > img {
	height: calc(2*var(--font-size));
	width: calc(2*var(--font-size));
}

.daily-vuln-dropdown-icon-box .nvd_logo {
	background-color: #000000;
	border: 2px solid #ff0000;
	border-radius: 25px;
}

.daily-vuln-dropdown-icon-box .mitre_logo {
	background-color: #ffffff;
	border: 2px solid #ff0000;
	border-radius: 25px;
}

.is_present {
	border-color: #4cff20 !important;
}

.daily-vuln-dropdown-row-2, .daily-vuln-dropdown-row-3 {
	font-size: calc(0.8 * var(--font-size));
	margin: 0.8em 0em 0em 2em;
}

.daily-vuln-dropdown-button > i {
	float: right;
	font-weight: bold;
	font-size: 3em;
	margin-top: -1.6em;
	position: relative;
}

.daily-vuln-active {
  background-color: #d9895d;
  border-color: #d9895d;
  color: #ffffff;
}

.daily-vuln-content {
  background-color: #f7f7f7;
  display: none;
  overflow: hidden;
  width: 100%;
}

.daily-vuln-content > div {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

.daily-vuln-description > p:first-child {
	font-weight: bold;
	font-size: 1em;
	margin: 0.5em 0em 0.5em 1em;
}

.daily-vuln-description .nvip-vuln-desc {
	margin: 0em 1em;
}

.nvip-daily-vuln-desc-toggle {
	display: none;
	margin-top: 1em;
	text-align: center;
}

.nvip-daily-vuln-desc-toggle .nvip-button {
	background-color: #d9895d;
	border-color: #d9895d;
	margin: 0em auto 0.5em auto;
}

.daily-vuln-info {
	flex-direction: row;
}

.daily-vuln-info > div {
	flex-direction: column;
	width: 50%;
}

.daily-vuln-info > div:first-child {
	padding-left: 1em;
}

.daily-vuln-info > div > p:first-child {
	font-weight: bold;
	min-height: 1em;
}

.daily-vuln-info > div > p:last-child {
	min-height: 1em;
}

.daily-vuln-detail > a {
	color: #d9895d;
	font-weight: bold;
	margin: auto;
	padding-bottom: 1.5em;
}

/** Vulnerability Filter Directive Styles **/

/** Temporary Style **/
.nvip-vuln-filter-ctn .nvip-form-dropdown-field {
	max-height: calc(var(--font-size) * 2);
}

.nvip-vuln-filter-ctn {
	background-color: #ffffff;
	border-radius: 0px 25px 25px 0px;
	height: calc(30em - 12px);
	left: 0;
	max-height: calc(30em - 12px);
	overflow-x: hidden;
	overflow-y: hidden;
	position: fixed;
	top: 30%;
	transition: 0.3s;
	width: 1.5em;
	z-index: 1;
}

.nvip-vuln-filter-ctn .active {
	width: var(--filter-container-width);
}

.daily-cve-filter-content {
	border: 2px solid #d3d3d3;
	height: inherit;
	max-width: calc(var(--filter-container-width) - 2.5em);
}

.daily-cve-filter-content > div {
	max-width: inherit;
}

.daily-cve-search-container {
	background-color: #f9f9f9;
	border-radius: 10px;
	margin: 1em auto;
	height: 2.5em;
	overflow: hidden;
	text-align: center;
}

.daily-cve-search-container > input {
	background-color: #f9f9f9;
	border: 0;
	height: inherit;
}

.daily-cve-search-container > i {
	font-size: 1em;
	position: absolute;
	top: 0.7em;
}

.daily-vuln-search-icon {
	margin-right: -1em;
	left: 0.7em;
}

.daily-cve-search-container > .daily-vuln-search-cancel-icon {
	font-size: 1.5em;
	top: 0.4em;
}

.daily-cve-search-container:focus-within > i {
	display: none;
}

.daily-vuln-filter-btns {
	width: 96.65%;
}

.daily-vuln-filter-btn {
	background-color: #ffff;
	border: 2px solid #f7f7f7;
	border-bottom: 0px;
	color: #444;
	cursor: pointer;
	font-size: var(--font-size-lg);
	height: 4em;
	width: 99.1%;
	text-align: left;
	outline: none;
}

.daily-vuln-filter-checkbox {
	float: left;
	left: 0.75em;
	position: relative;
	top: 1.3em;
}

.daily-vuln-filter-btn > span {
	display: inline-block;
	font-weight: bold;
	margin: var(--font-size-lg) 0em 0em calc(var(--font-size-lg) * 1.25);
	position: relative;
}

.daily-vuln-filter-btn > i {
	float: right;
	position: relative;
	top: 0.4em;
	right: 0.3em;
}

.daily-cve-filter-btn {
	background-color: #213d55;
	border: 0px;
	color: #ffffff;
	height: 100%;
	min-width: 2em;
	outline: none;
	position: absolute;
	right: 0;
	top: 0;
}

/** END Vulnerability Filter Directive Styles **/

/** Media Queries **/
@media screen and (min-width: 1000px) {
	:root {
		--max-vuln-desc-height-px: 130px;
	}
	
	/** Daily Vulnerability Directive Styles **/
	
	.daily-vuln-dropdown-row-1 > .nvip-cve-number-span {
		font-size: calc(0.85 * var(--font-size));
	}
	
	.daily-vuln-dropdown-icon-box > img {
		height: calc(1.5*var(--font-size));
		width: calc(1.5*var(--font-size));
	}
	
	.daily-vuln-dropdown-row-2, .daily-vuln-dropdown-row-3 {
	    font-size: calc(0.75 * var(--font-size));
		margin-top: 0.5em;
	}
	
	/** END Daily Vulnerability Directive Styles **/
	
	/** Vulnerability Filter Directive Styles **/
	
	.nvip-vuln-filter-ctn {
		border-radius: 25px;
		left: 3.5%;
		width: var(--filter-container-width);
	}
	
	.daily-cve-filter-content {
		max-width: var(--filter-container-width);
	}
	
	.daily-cve-filter-btn {
		visibility: hidden;
	}
	
	/** END Vulnerability Filter Directive Styles **/
}