@charset "ISO-8859-1";
:root {
	--font-size: 1em;
	--font-size-lg: 1.2em;
	--font-size-header-3: 1.5em;
	--filter-container-width: 32em;
	--circle-graph-length: 9em;
	--max-vuln-desc-height-px: 75px;
	--max-vuln-desc-height-em: calc(4*var(--line-height));
}


/** Count Graphs Styling **/
.nvip-daily-graph-box {
	background-color: #0c204c;
	display: flex;
	min-height: calc(1.2 * var(--circle-graph-length));
}

.nvip-daily-graph-box > .nvip-loading-screen i {
	margin-top: calc(2.5%);
}

.nvip-circle-graph {
	background-color: #215bfd;
	border: 2px solid #022ca2;
	border-radius: 50%;
	display: inline-block;
	height: var(--circle-graph-length);
	margin-top: 0.75em;
	margin-left: calc(9.5%);
	width: var(--circle-graph-length);
}

.nvip-circle-graph > .nvip-circle-graph-text {
	color: #ffffff;
	font-size: 1.3em;
	margin-top: calc(30%);
	text-align: center;
}

.nvip-circle-graph.avg-time-gap-nvd > .nvip-circle-graph-text {
	font-size: 1.1em;
	margin-top: calc(30%);
}

/** END Count Graphs Styling **/

.nvip-about-section {
	background-color: #213d55;
}

.nvip-about-section > p {
	color: #ffffff;
	margin: 0em 2em;
	padding: 1em 0em;
	font-size: 1.1em;
}

/** Daily Vulnerability Section Styling **/

.nvip-daily-vuln-ctn {
	
}

.nvip-daily-vuln-ctn .nvip-loading-screen i {
	margin-top: calc(15%);
}

.nvip-daily-vuln-panel-ctn {

}

.nvip-daily-cve-panel-header {
	margin: 0em auto;
}

.nvip-daily-cve-panel-header .nvip-button {
	border-radius: 0;
	height: calc(100%);
	position: absolute;
	top: 0;
	width: calc(4%);
	z-index: 1;
}

.nvip-daily-cve-panel-header .nvip-prev-day {
	left: 0;
}

.nvip-daily-cve-panel-header .nvip-next-day {
	right: 0;
}

.nvip-prev-day .nvip-arrow-left {
	border-right: 1em solid #ffffff;
}
	
.nvip-next-day .nvip-arrow-right {
	border-left: 1em solid #ffffff;
}

.nvip-prev-day:disabled .nvip-arrow-left {
	border-right: 1em solid #676767;
}

.nvip-next-day:disabled .nvip-arrow-right {
	border-left: 1em solid #676767;
}

.daily-cve-date {
	background-color: #213d55;
	color: #ffffff;
	font-size: var(--font-size-header-3);
	font-weight: bold;
	margin: 1em auto 0em auto;
	text-align: center;
}

.daily-cve-counts {
	background-color: #0f1c27;
	box-sizing: border-box;
	color: #ffffff;
	margin: -0.7em auto 0em auto;
}

.daily-cve-counts > p {
	font-size: 1.2em;
	font-weight: bold;
	margin-left: calc(4%);
	padding: 0.5em 0em 0.5em 2em;
}

.daily-cve-panel {
	border: 2px solid #d3d3d3;
	border-radius: 25px;
	background-color: #ffffff;
	margin: 1em auto;
	max-width: 750px;
	padding-top: 2em;
	padding-bottom: 1em;
}

/** Enlarge the font size to the normal font size for the Main Page**/
.daily-cve-panel .daily-vuln-dropdown-row-2, .daily-cve-panel .daily-vuln-dropdown-row-3 {
	font-size: var(--font-size);
}

.nvip-cve-panel-empty {
	margin: 0em 2em;
}

.daily-vuln-dropdown-button {
  background-color: #ffff;
  border: 2px solid #f7f7f7;
  border-bottom: 0px;
  color: #444;
  cursor: pointer;
  font-weight: bold;
  height: 6em;
  outline: none;
  padding: 0.5em 1.5em;
  text-align: left;
}

.daily-vuln-dropdown:last-child .daily-vuln-dropdown-button {
	border: 2px solid #f7f7f7;
}

.daily-vuln-dropdown-button > span {
	display: inline-block;
	font-weight: bold;
	max-width: 90%;
	margin-top: calc(0.6em - 2px);
	position: relative;
}

.nvip-daily-vuln-button-container {
	margin: 1em 2em 0em 2em;
	text-align: center;
}

.nvip-daily-vuln-button-container .nvip-button {
	margin: 0em auto;
}

/** END Daily Vulnerability Section Styling **/

/** Media Queries **/
@media screen and (min-width: 1000px) {
	:root {
		--font-size: 1.3em;
		--max-vuln-desc-height-px: 130px;
	}

	.nvip-circle-graph {
		margin-left: calc(15%);
	}

	.daily-cve-panel {
	  	font-size: var(--font-size);
		max-width: 100%;
	}
	
	.daily-vuln-dropdown-row-1 {
		font-size: calc(0.75 * var(--font-size));
	}
	
	.daily-vuln-dropdown-icon-box > img {
		height: 1.7em;
		width: 1.7em;
	}
	
	.nvip-prev-day .nvip-arrow-left {
		border-right: 1.5em solid #ffffff; 
	}
	
	.nvip-next-day .nvip-arrow-right {
		border-left: 1.5em solid #ffffff;
	}
	
	.nvip-prev-day:disabled .nvip-arrow-left {
		border-right: 1.5em solid #676767;
	}

	.nvip-next-day:disabled .nvip-arrow-right {
		border-left: 1.5em solid #676767;
	}
	
	.daily-cve-panel .daily-vuln-dropdown-row-2, .daily-cve-panel .daily-vuln-dropdown-row-3 {
	    font-size: calc(0.75 * var(--font-size));
		margin-top: 0.5em;
	}
}