@charset "ISO-8859-1";

:root {
	--font-size: 1em;
	--font-size-header: 3em;
	--line-height: calc(1.4*var(--font-size));
	--nvip-logo-width: 12em;
	--nvip-logo-margin-width: 1.5em;
}

/** General Styling **/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-13 {width: 20%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


html {
	min-height: 100%;
	min-width: 100%;
	overflow: auto;
}

body {
	background-color: #b8c6db !important;
	display: flex;
  	flex-direction: column;
  	font-family: "Source Sans Pro",Helvetica,Arial,sans-serif;
  	line-height: var(--line-height);
	margin: 0;
	min-height: 100%;
	min-height: 100vh;
	min-width: 100%;
	min-width: 100vh;
	overflow: visible;
}

div {
	box-sizing: border-box;
	height: inherit;
	width: inherit;
	position: relative;
}

p {
	font-size: 1em;
	overflow-wrap: break-word;
}

/** Header and Footer Styles **/
.nvip-header {
  background-color: #213d55;
  height: 5em;
  left: 0;
  top: 0;
  overflow: hidden;
  padding: 0em;
}

.nvip-header a {
  color: #ffffff;
  text-align: center;
  text-decoration: none;
}

.nvip-logo-container {
	float: left;
	width: var(--nvip-logo-width);
	margin: 0.5em 0em 0.5em var(--nvip-logo-margin-width);
}

.nvip-logo-container .nvip-logo {
	float: left;
	font-weight: bold;
}

.nvip-logo > img {
	font-size: var(--font-size);
	height: 40px;
	object-fit: contain;
}

.nvip-header-container {
	float: right;
	width: calc(100% - var(--nvip-logo-width) - var(--nvip-logo-margin-width));
}

.nvip-header-links {
	display: flex;
	flex-flow: wrap;
	float: left;
	height: 100%;
	margin: auto 0;
	padding-top: auto;
}

.nvip-header-link {
	text-align: center;
}

.nvip-header-link:hover {
	background-color: #4b7699;
	transition-delay: 0.2s;
}

.nvip-header-link > a {
	display: inline-block;
	font-size: 1.2em;
	padding: 1em;
}

.nvip-header-link > a:hover {
	color: #ffffff;
	text-decoration: none;
}

.nvip-header-user-icon-container {
	float: right;
}

.nvip-header-user-icon-container > .nvip-header-user-icon {
	color: white;
	font-size: 3.5em;
	margin: 0.1em auto;
	position: absolute;
	right: 10%;
}

.nvip-user-label {
	color: #d9895d;
	font-size: 1.2em;
	margin-top: 1em;
}

.nvip-footer {
  background-color: #213d55;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 10em;
  margin-top: 2em;
  padding: 10px;
  position: relative;
  text-align: center;
  width: 100%;
}

.nvip-footer > div {
	height: 1em;
	max-width: 50%;
}

.nvip-footer-contents {
	height: 1em;
	text-align: center;
	width: 100%;
}

.nvip-footer-contents a {
	color: #ffffff;
}

.nvip-footer-contents a:hover {
	color: #ffffff;
}

.nvip-footer-contents a:not(:last-child)::after{
	content: "|";
	color: #ffffff;
	margin: 0em 1em;
}

/** NVIP Loading Styles **/
.nvip-loading-screen {
	/** height: calc(100% - 17em);
	height: calc(100vh - 17em); **/
	min-height: inherit;
	text-align: center;
}

.nvip-loading-bar {
	background-color: #0c204c;
	display: none;
	max-height: 5em;
	min-height: 5em;
	text-align: center;
}

.nvip-loading-bar-text-ctn {
	padding: 1em 0em;
	margin: auto;
}

.nvip-loading-screen i, .nvip-loading-bar i {
	color: #ffffff;
}

.nvip-loading-screen span, .nvip-loading-bar span {
	color: #ffffff;
	font-size: 1.5em;
}

/** Generic NVIP Element Styles **/

/** AngularJS support. All content contained in ng-scope div */

.nvip-content-container {
	background-color: #b8c6db;
	min-height: 100%;
	min-height: 100vh;
}

.nvip-button {
	background-color: #213d55;
	border: 2px solid #213d55;
	border-radius: 25px;
	color: #ffffff;
}
.nvip-button:disabled {
	background-color: #c2c1c1;
	border-color: #c2c1c1;
	color: #676767;
}

.nvip-arrow-right {
  width: 0; 
  height: 0; 
  border-top: 2em solid transparent;
  border-bottom: 2em solid transparent;
  border-left: 1.5em solid #ffffff;
}

.nvip-arrow-left {
  width: 0; 
  height: 0; 
  border-top: 2em solid transparent;
  border-bottom: 2em solid transparent; 
  border-right: 1.5em solid #ffffff; 
}

/** Search Bar Styles **/
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

/** Login Styles  */

.nvip-login-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.login-panel {
	border: 2px solid #d3d3d3;
	border-radius: 25px;
	background-color: #ffffff;
	margin: 6.5em auto;
	max-width: calc(35em + 10em);
	min-height: 30em;
	padding-bottom: 1em;
}

.login-panel > * {
	margin: 1em auto;
}

.login-form-header {
	border-bottom: #000000 solid 2px;
	font-size: var(--font-size-header);
}

.login-form-header > p {
	font-weight: bold;
	margin: 0;
}

.login-panel .form-group {
	width: 100%
}

.login-submit-button {
	position: absolute;
	right: 0;
}

/** Form Styles **/


/** Media Queries **/

@media screen and (min-width: 1000px) {
	:root {
		--font-size: 1.3em;
	}
	
	/** Login Styles **/
	.login-panel {
		font-size: var(--font-size);
		max-width: calc(60%);
	}
}

@media screen and (min-width: 1300px) {
	/** Login Styles **/
	.login-panel {
		font-size: var(--font-size);
		max-width: calc(45%);
	}
}

/** Testing Styles **/


.test-content {
	background-color: green;
	overflow: auto;
}

.test-div {
	background-color: green;
	width: 100%;
	height: 100%;
}
