@charset "ISO-8859-1";

/** Search Results Styles **/

/** Removing styling from the main nvip sheet **/
div {
	width: auto;
}

.col-1 {min-width: 8.33%;}
.col-2 {min-width: 16.66%;}
.col-3 {min-width: 25%;}
.col-4 {min-width: 33.33%;}
.col-5 {min-width: 41.66%;}
.col-6 {min-width: 50%;}
.col-7 {min-width: 58.33%;}
.col-8 {min-width: 66.66%;}
.col-9 {min-width: 75%;}
.col-10 {min-width: 83.33%;}
.col-11 {min-width: 91.66%;}
.col-12 {min-width: 100%;}

/** Form Styling **/
.nvip-search-form-ctn {
	min-width: 58.33%;
	max-width: 58.33%;
	margin: 1em auto;
}

.nvip-search-form {
	border: 2px solid #d3d3d3;
	border-radius: 25px;
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	padding-top: 2em;
	padding-bottom: 1em;
}

.nvip-search-form > .nvip-form-dropdown-field {
	border: solid #d3d3d3 2px;
	border-bottom-width: 0px;
}

.nvip-search-form > div.nvip-form-dropdown-field:n-of-type(-4) {
	border-bottom-width: 2px;
}

.nvip-search-form > .nvip-form-field {
	margin-left: calc(2%);
}

.nvip-form-field > label,input {
	display: block;
}

.nvip-form-field > label {
	font-size: var(--font-size);
}

.nvip-form-horizontal-block {
    display: flex;
    flex-direction: row;
    margin: calc(2.5%) 1em;
}

.nvip-form-dropdown-field {
	display: flex;
	flex-direction: row;
	line-height: var(--font-size);
	min-height: calc(var(--font-size) * 2);
}

.nvip-form-dropdown-field label, input {
	display: inline-block;
}

.nvip-form-dropdown-field.dropdown-opened {
	border-bottom-width: 2px;
}

.nvip-form-dropdown-field label {
	float: left;
}

.nvip-form-dropdown-field input, .nvip-form-dropdown-field i {
	float: right;
}

.nvip-form-dropdown-left > label {
	font-size: var(--font-size);
	margin: calc(var(--font-size)*0.5) 0em 0em 0.5em;
}

.nvip-form-dropdown-content .nvip-form-dropdown-left > label {
	font-size: calc(var(--font-size)*0.75);
	margin: calc(var(--font-size)*0.5) 0em 0em 0.5em;
}

.nvip-form-dropdown-left > input[type=checkbox] {
	margin: calc(var(--font-size)*0.5) 0.4em 0em 0.2em;
}

.nvip-form-dropdown-right > i {
	font-weight: bold;
    font-size: calc(1.7*var(--font-size));
    margin-right: 0.3em;
    position: relative;
}

.nvip-form-dropdown-right > i.fa-angle-down {
    margin-right: 0.15em;
}

.nvip-form-dropdown-content {
	background-color: #d3d3d3;
	display: none;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0em auto 0.2em auto;
	min-height: 5em;
}

.nvip-form-dropdown-content .nvip-form-dropdown-field {
	background-color: #213d55;
	color: #ffffff;
	margin: 0em auto 0.2em auto;
}

.nvip-form-dropdown-content .nvip-form-dropdown-content {
	background-color: #ffffff;
	flex-direction: column;
}

.nvip-form-dropdown-content .nvip-form-field-block {
	margin: 0 auto;
}
.nvip-form-btn-ctn > .nvip-form-btn {
	display: block;
	font-size: 1.2em;
	margin: 1em auto 0em auto;
}

/** Search Results Paging Styling **/
.nvip-paging-index {
	font-size: calc(var(--font-size)*1.2);
	font-weight: bold;
	text-align: center;
}

.nvip-paging-bar-ctn {
	display: flex;
	flex-direction: row;
	margin-bottom: 2em;
	width: fit-content;
}

.nvip-paging-bar {
	background-color: #ffffff;
	border: solid 2px #d3d3d3;
	border-right: solid 0px #d3d3d3;
	display: inline-block;
	height: 2.75em;
	min-width: 2em;
	padding: 0.6em 0.35em 0em 0.35em;
	text-align: center;
}

.nvip-paging-bar:last-child {
	border-right: solid 2px #d3d3d3;
}

.nvip-paging-bar > a {
	font-size: calc(var(--font-size) * 1.0);
	font-weight: bold;
}

.nvip-paging-bar > a > i {
	font-weight: bold;
	margin: -0.2em 0em 0em 0em;
}

.nvip-paging-bar.current-page {
	background-color: #3c76a7;
}

.nvip-paging-bar.current-page > a {
	color: #ffffff;
}

/** Search Results Styling **/
.nvip-search-result-ctn {
	min-width: 100%;
	max-width: 100%;
}

.nvip-search-result-ctn > * {
	margin: 0em auto;
}

.nvip-search-result-header {
	background-color: #050d21;
	color: #ffffff;
}

.nvip-search-result-header > p {
	font-size: 1.7em;
	padding: 0.5em 0em 0.5em 2em;
}

.nvip-search-nav-btn-ctn > .nvip-button {
	font-size: 1.2em;
}

.nvip-search-nav-btn-ctn > .nvip-search-nav-form-btn {
	margin-left: 1em;
}

.nvip-search-nav-btn-ctn > .nvip-search-nav-results-btn {
	float: right;
	margin-right: 1em;
}

.nvip-search-result-ctn .nvip-paging-bar-ctn {
	margin: 0em auto 1em auto;
}

.nvip-search-result-ctn .nvip-paging-bar-ctn:last-child {
	margin-top: 1em;
}

.nvip-search-result-count {
	font-size: calc(var(--font-size)*1.2);
	font-weight: bold;
	text-align: center;
}

.nvip-search-result-page {
	background-color: #ffffff;
	border-radius: 25px;
	margin: 0em auto;
	padding: 2em 0em;
}

.nvip-search-result-page .nvip-cve-panel-empty {
	margin: 0em 2em;
}

.nvip-search-result .daily-vuln-dropdown-button {
	height: auto;
}

.nvip-search-result .daily-vuln-dropdown-row-2, .daily-vuln-dropdown-row-3 {
	font-size: calc(0.9 * var(--font-size));
}

@media screen and (min-width: 1000px) {
	:root {
		--font-size: 1.2em;
	}
	
	/** Search Form Styles **/
	.nvip-search-form-ctn {
		min-width: 50.33%;
		max-width: 50.33%;
	}
	
	.nvip-search-form > .nvip-form-field {
		margin-left: calc(1.5%);
	}
	
	.nvip-form-dropdown-field {
		min-height: calc(var(--font-size) * 2);
	}
	
	.nvip-form-dropdown-left > label {
		font-size: var(--font-size);
		margin: calc(var(--font-size)*0.35) 0em 0em 0.5em;
	}
	
	.nvip-form-dropdown-left > input[type=checkbox] {
		margin: calc(var(--font-size)*0.6) 0.6em 0em 0.2em;
	}
	
	.nvip-form-dropdown-content .nvip-form-dropdown-left > label {
		font-size: calc(var(--font-size)*0.7);
		margin: calc(var(--font-size)*0.35) 0em 0em 0.5em;
	}
	
	
	/** Filter Styles **/
	
	.daily-cve-filter-container {
		border-radius: 25px;
		left: 3.5%;
		width: var(--filter-container-width);
	}
	
	.daily-cve-filter-content {
		max-width: var(--filter-container-width);
	}
	
	.daily-cve-filter-btn {
		visibility: hidden;
	}
	
	/** Search Result Styles **/
	.nvip-search-page-ctn {
		margin: 2em auto 1em auto;
		min-width: 75%;
		max-width: 75%;
	}
	
	.nvip-search-result-count > p {
		font-size: calc(var(--font-size)*0.8);
	}
	
	.nvip-paging-index > p {
		font-size: calc(var(--font-size)*0.8);
	}	
	
	.nvip-search-result .daily-vuln-dropdown-row-1 > .nvip-cve-number-span {
		font-size: calc(0.9 * var(--font-size));
	}
	
	.nvip-search-result .daily-vuln-dropdown-row-2, .daily-vuln-dropdown-row-3 {
		font-size: calc(0.8 * var(--font-size));
	}
	
	.nvip-search-result .daily-vuln-dropdown-icon-box > img {
		height: calc(1.7*var(--font-size));
    	width: calc(1.7*var(--font-size));
	}
	
}

@media screen and (min-width: 1300px) {
	.nvip-search-form-ctn {
		min-width: 45.33%;
		max-width: 45.33%;
	}
}