/** Vulnerability Page Styles **/

:root {
	--font-size: 1em;
}

.vuln-container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.vuln-content > * {
	margin-left: 0.5em;
}

.vuln-content {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin: 0 auto;
	margin-top: 2em;
}

.cve-search-panel, .vuln-tabbed-panel {
	margin: auto;
}

.cve-search-panel {
	background-color: #ffffff;
	border-width: 2px 2px 0px 2px;
	border-style: solid;
	border-color: #d3d3d3;
}

.cve-search-panel > * {
	margin: 5px 10px 3px 10px;
}

.vuln-cve-number {
	float: left;
	font-size: 1.75em;
	font-weight: bold;
}

.vuln-search-bar {
	float: right;
}

.vuln-tabbed-panel {
	background-color: #ffffff;
	border: 2px solid #d3d3d3;
	border-top: 0px;
}

.vuln-tab-bar {
  	overflow: hidden;
  	background-color: #FFFFFF;
}

/* Style the buttons that are used to open the tab content */
.vuln-tab-bar button {
  background-color: #f0f0f0;
  border-width: 2px 2px 0px 0px;
  border-style: solid;
  border-color: #d3d3d3;
  cursor: pointer;
  float: left;
  outline: none;
  padding: 0.40em 1em;
  transition: 0.3s;
}

.vuln-tab-bar button:first-child {
	background-color: inherit;
	border-bottom-width: 0px;
}

.vuln-tab-bar > div {
	border-width: 0px 0px 2px 0px;
  	border-style: solid;
	border-color: #d3d3d3;
	height: 1px;
	width: auto;
}


/* Change background color of buttons on hover */
.vuln-tab-bar button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.vuln-tab-bar button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.vuln-panel {
	border-top: 2px solid #d3d3d3;
	padding: 0em 1em 3em 1em;
}

.vuln-panel > .vuln-tab {
	display: none;
	min-height: calc(15em - 4px);
}

.vuln-panel > .vuln-tab:first-child {
	display: block;
}

.vuln-description > p {
	font-size: 0.95em;
	font-weight: bold;
	line-height: 1.8em;
	margin: 1em 1em 3em 1em;
}

.vuln-description > table {
	background-color: #f7f7f8;
	border-collapse: collapse;
	margin: 0 auto;
	position: relative;
	height: inherit;
}

.vuln-description table, tr, td {
	border: 1px solid #dadada;
	height: 3em;
}

.vuln-description table tr:first-child td:first-child {
	border: 6px 0px 0px 0px;
}

.vuln-description table tr:first-child td:last-child {
	border: 0px 0px 6px 0px;
}

.vuln-description > table  * {
	text-align: left;
}

.vuln-description > table td {
	padding: 5px;
}

/** Severity Tab Styles */

.vuln-severity- {
	min-height: 200px;
}

.vuln-severity-tab > * {
	margin-top: 2em;
}

.vuln-severity-graph-container {
	margin: 2em auto 3em auto;
	width: 23em;
	max-height: calc(25em - 4px);
}

#vuln-ticks {
  width: 23em; 
  height: calc(25em - 4px); 
  margin-bottom: calc(-25em + 4px);
  top: 0;
  left: 0;
  z-index: 1;
  font-family: "fira-sans-2", Verdana, sans-serif;
}

.tick {
  position: relative; 
  border-bottom: 1px dotted #C4C4C4; 
  height: calc(5em - 1px);
}

#ticks .tick p {
  font-size: 0.8em;
}

.vuln-severity-graph {
	border: 1.5px solid #000000;
	display: flex;
	flex-direction: row;
	font-size: 1em;
	height: calc(25em - 4px); 
	margin-left: 3.2em;
	width: 20em; /*Not aligned with other widths, fix*/
	/**background: transparent;*/
}

.vuln-severity-graph-header {
	margin-left: 1.5em;
	text-align: center;
}

#q-graph td {
  transition: all .3s ease;
  
}

.vuln-severity-graph-bar {
	bottom: 0;
	position: absolute;
	text-align: center;
	width: 7em;
}

.vuln-severity-graph-bar > p {
	margin-top: 1em;
}

.vuln-severity-bar {
	margin-left: 2em;
}

.vuln-impact-bar {
	background-color: #7ebe18;
	height: 12.5em;
	margin-left: 11em;
}

.vuln-severity-graph-labels {
	display: flex;
	flex-direction: row;
	margin-left: 3.2em;
}

/**Widths in labels not aligned*/
.vuln-base-severity-labels {
	display: flex;
}

.vuln-base-severity-labels > p:first-child {
	margin-left: 4.5em;
}

.vuln-base-severity-labels > p:last-child {
	margin-left: 6.5em;
}

/** Characteristics Tab **/
.vuln-characteristics-header {
	font-size: 2em;
	font-weight: bold;
	margin: 0.5em 0em;
	text-decoration: underline;
}

.vuln-characteristics-graph-container {
	margin: 0em 1em 3em 0em;
}

.vuln-characteristics-bar {
	background-color: #21618C;
	border-radius: 10px;
	height: 2em;
	line-height: 2em;
	margin-bottom: 1em;
	vertical-align: center;
	width: 45%;
}

.vuln-characteristics-bar > p {
	color: #ffffff;
	display: inline-block;
	font-weight: bold;
	text-transform: capitalize;
}

.vuln-characteristics-bar > p:first-child {
	margin-left: 1em;
}

.vuln-characteristics-bar > p:last-child {
	margin-right: 1em;
	float: right;
}

/** Media Queries **/
@media screen and (min-width: 750px) {
	.vuln-content {
		max-width: 91.66%;
	}
}

@media screen and (min-width: 1000px) {
	:root {
		--font-size: 1.1em;
	}
	
	.vuln-container {
	  	font-size: var(--font-size);
	}
}